@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ссылки для тестирования маршрутов:</p>
    <ul>
        <li><a href="/newOrder">Купить товар (Shop - Buy)</a></li>
        <li><a href="/usersettings/5">Старый URL настроек пользователя</a></li>
        <li><a href="/user/settings/5">Новый URL настроек пользователя</a></li>
        <li><a href="/Admin/Setup">Admin Setup</a></li>
        <li><a href="/Admin/AnotherAction">Admin Another Action (запрещено)</a></li>
    </ul>
</div>